body{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    padding-bottom: 50px;
}
hr{
    margin-bottom: 50px;
    background-color: gray;
}
.content{
    margin-top: 50px;
}
h1,h4{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

aside{
    border: 1px outset gray;
    box-shadow: 0 0 2px 4px grey;
}
aside ul.places{
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;   
}
article img{
    width: 35vw;
    height: 60%;
}
main article:nth-child(n+2){
    display: none;
}
.hovered{
    color: crimson;
}
.active{
    color: darkgreen;
}
.active::before{
    content:'\27A4';
    color: darkgreen;


}